{{ block "event-list" . }}
<div id="app">
    <table>
        <thead>
            <tr>
                <th>EventID</th>
                <th>Event Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{range . }}
            <tr hx-target="#app" hx-swap="outerHTML" hx-get="/components/rounds-list?page=1&event_id={{ .Eventid }}"
                hx-redirect="true">
                <td>{{.Eventid}}</td>
                <td>{{.Name}}</td>
                <td>{{.Date}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}
{{ block "round-list" . }}
<div id="app">
    <table>
        <thead>
            <tr>
                <th>RoundID</th>
                <th>Division</th>
                <th>Class</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {{range .Rows }}
            <tr hx-target="#app" hx-swap="outerHTML"
                hx-get="/components/ranges-list?page=1&event_id={{ .Eventid }}&round_id={{ .Roundid }}"
                hx-redirect="true">
                <td>{{.Roundid}}</td>
                <td>{{.Division}}</td>
                <td>{{.Class}}</td>
                <td>{{.Gender}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <button hx-target="#app" hx-swap="outerHTML" hx-get="/components/events-list?page={{ .Page }}">Back</button>
</div>
{{ end }}
{{ block "range-list" . }}
<div id="app">
    <table>
        <thead>
            <tr>
                <th>RangeID</th>
                <th>Distance</th>
                <th>Target Size</th>
            </tr>
        </thead>
        <tbody>
            {{range .Rows }}
            <tr hx-target="#app" hx-swap="outerHTML"
                hx-get="/components/submit-form&round_id={{ .Roundid }}&range_id={{ .Rangeid }}"
                hx-redirect="true">
                <td>{{.Rangeid}}</td>
                <td>{{.Distance}}</td>
                <td>{{.Targetsize}}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
    <button hx-target="#app" hx-swap="outerHTML"
        hx-get="/components/rounds-list?page={{ .Page }}&event_id={{ .Eventid }}" hx-redirect="true">Back</button>
</div>
{{ end }}
