{{ block "nav" . }}
<nav>
    <div>
        <a href="/scores.html">View-Scores</a>
        <a href="/submit.html">Submit-Scores</a>
        <a href="/championship.html">View-Championships</a>
        {{ if . }}
        <a href="/view-all.html">View-All-Scores</a>
        <a href="/stage.html">Approve-Staged</a>
        <a href="/add-event.html">Add-Event</a>
        {{ end }}
    </div>
    <div class="right">
        <a href="/login.html">Login</a><a href="/api/login">Auth-Test</a>
    </div>
</nav>
{{ end }}
