{{ block "submit-form" . }}
<div class="form-container">
    <form class="login-form" action="/api/add-score" method="post">
        <input type="hidden" name="range-id" value="{{ . }}">
        <label for="number-input">Total Score:</label>
        <input type="number" id="number-input" name="total-score" required>
        <label for="arrow-list">Arrow List (Comma Seperated, X is bullseye):</label>
        <input type="text" id="arrow-list" name="arrow-list" placeholder="X,X,3,2,10,5" required>
        <input type="submit" value="submit">
    </form>
</div>
{{ end }}
